/* stylelint-disable-next-line block-no-empty */
.app-header {
  height: 12rem;
  margin-bottom: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;

  .title {
    margin-right: 4rem;

    a {
      color: #000;
      text-decoration: none;
    }
  }

  .inner-header {
    width: 50%;
  }

  .search-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    margin-top: 0.3rem;
  }

  .search-input {
    height: 6rem;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 1.4rem 2rem 1.4rem 5rem;
    outline: none;
    font: 1.6rem/2rem $fontOpensansRegular;
    width: 100%;
    margin-right: 2rem;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.4);
  }

  .search-icon {
    @include size(2rem);
    height: 3.4rem;
    border: 0;
    outline: none;
    position: absolute;
    left: 2rem;
    top: 62%;
    transform: translateY(-50%);
    color: #6d6d6d;
  }
}
