<style src="./AppHeader.scss" module lang="scss"></style>
<script src="./AppHeader.js"></script>

<template>
  <div :class="[$style.appHeader, 'wrapper']">
    <h2 :class="['heading-02', $style.title]">
      <router-link :to="'/'">Co&Co</router-link>
    </h2>

    <div :class="$style.innerHeader">
      <p :class="'heading-04'">You searched for:</p>
      <div :class="$style.searchWrapper">
        <Icon
          name="search"
          :class="[$style.searchIcon]"/>
        <input
          type="text"
          :class="$style.searchInput"
          :value="searchQuery.name"
          disabled/>
      </div>
    </div>
  </div>
</template>
