/* stylelint-disable-next-line block-no-empty */
:global {
  .js-result-item.is-open {
    :local {
      .arrow-down {
        transform: rotate(180deg);
      }
    }
  }
}

.search-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .result-list {
    list-style: none;
    flex-direction: column;
    width: 65%;
  }

  .result-item {
    padding: 3rem 4rem;
    background: #fff;
    margin-bottom: 4rem;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: box-shadow 0.15s $easeInCubic;

    &:hover {
      box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.2);
    }
  }

  .result-wrap-inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .result-wrap {
    display: flex;
  }

  .title {
    margin-right: 8rem;
  }

  .specs {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .spec-item {
    position: relative;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-right: 4rem;
    }

    &:after {
      content: '';
      height: calc(100% + 2rem);
      width: 1px;
      background: rgba(0, 0, 0, 0.1);
      position: absolute;
      top: -1rem;
      left: -2rem;
    }
  }

  .spec-title {
    margin-bottom: 0.4rem;
  }

  .link {
    color: blue;
    text-decoration: underline;
  }

  .more-info {
    display: flex;
    align-items: flex-start;
    color: rgba(0, 0, 0, 0.5);
    cursor: pointer;

    .arrow-down {
      @include size(2rem);
      color: rgba(0, 0, 0, 0.5);
      transition: transform 0.25s $easeOutCubic;

      &.is-open {
        transform: rotate(180deg);
      }
    }
  }

  .detail-wrapper {
    width: 100%;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.25s $easeOutCubic;

    &.is-open {
      height: 20rem;
    }
  }

  .detail-specs {
    margin-bottom: 4rem;
  }

  .detail-title {
    margin-bottom: 2rem;

    &.first {
      margin-top: 4rem;
    }
  }

  .abstract-info {
    padding: 4rem 2rem;
    width: 25%;
    background: #fff;
    align-self: flex-start;
  }

  .abstract-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  }
}
