<style src="./SearchResults.scss" module lang="scss"></style>
<script src="./SearchResults.js"></script>

<template>
  <div :class="[$style.searchResults, 'wrapper']">
    <ul v-if="callReady" :class="$style.resultList">
      <li :class="['js-result-item', $style.resultItem]"
          v-for="(object, index) in searchObjects"
          :key="index"
          @click="toggleDetail">
        <div :class="$style.resultWrapInner">
          <div :class="$style.resultWrap">
            <h3 :class="[$style.title, 'heading-03']">
              {{ object.name }}
            </h3>
            <ul :class="$style.specs">
              <li v-if="object.attr.hasCPU.name" :class="$style.specItem">
                <h4 :class="[$style.specTitle, 'heading-04']">
                  CPU
                </h4>
                <p :class="[$style.specCopy, 'copy-01']">
                  <span :class="$style.link" @click="handleDeeplink(object.attr.hasCPU.key, object.attr.hasCPU.name)">{{ object.attr.hasCPU.name }}</span>
                </p>
              </li>
              <li v-if="object.attr.hasGPU.name" :class="$style.specItem">
                <h4 :class="[$style.specTitle, 'heading-04']">
                  Processor
                </h4>
                <p :class="[$style.specCopy, 'copy-01']">
                  <span :class="$style.link" @click="handleDeeplink(object.attr.hasGPU.key, object.attr.hasGPU.name)">{{ object.attr.hasGPU.name }}</span>
                </p>
              </li>
            </ul>
          </div>

          <div :class="$style.moreInfo">
            <h4 :class="['heading-04']">
              More info
              <Icon name="chevron-down" :class="[$style.arrowDown, {[$style.isOpen]: detailOpen}]"/>
            </h4>
          </div>
        </div>

        <div :class="['js-detail-wrapper', $style.detailWrapper, {[$style.isOpen]: detailOpen}]">
          <h5 :class="['heading-05', $style.detailTitle, $style.first]">Full specifications</h5>
          <ul :class="[$style.specs, $style.detailSpecs]">
            <li v-if="object.attr.company.name" :class="$style.specItem">
              <h4 :class="[$style.specTitle, 'heading-04']">
                Company
              </h4>
              <p :class="[$style.specCopy, 'copy-01']">
                <router-link :to="'/detail'">{{object.attr.company.name}}</router-link>
              </p>
            </li>
            <li v-if="object.attr.type" :class="$style.specItem">
              <h4 :class="[$style.specTitle, 'heading-04']">
                Type
              </h4>
              <p :class="[$style.specCopy, 'copy-01']">
                {{ object.attr.type }}
              </p>
            </li>
            <li v-if="object.attr.hasDiskSpace.name" :class="$style.specItem">
              <h4 :class="[$style.specTitle, 'heading-04']">
                Disk Space
              </h4>
              <p :class="[$style.specCopy, 'copy-01']">
                {{ object.attr.hasDiskSpace.name }}
              </p>
            </li>
            <li v-if="object.attr.hasDisplaySize.name" :class="$style.specItem">
              <h4 :class="[$style.specTitle, 'heading-04']">
                Display Size
              </h4>
              <p :class="[$style.specCopy, 'copy-01']">
                {{ object.attr.hasDisplaySize.name }}
              </p>
            </li>
          </ul>
<!--          <h5 :class="['heading-05', $style.detailTitle]">Description</h5>-->
<!--          <p :class="'copy-01'">-->
<!--            The PowerBook G4 was the name of a series of Mac OS X-based notebook computers manufactured, marketed, and sold by Apple Computer, Inc. (called Apple, Inc. today) between 2001 and 2006 as part of its PowerBook high-powered "professional (pro)" line of notebooks. As the name suggests, these PowerBooks ran on the RISC-based PowerPC G4 processor, designed by the AIM (Apple Inc./IBM/Motorola) development alliance and initially produced by Motorola. It was built later by Freescale, after Motorola spun off its semiconductor business under that name in 2004. The PowerBook G4 had two different designs: one enclosed in a titanium body with a translucent black keyboard and a 15-inch screen; and another in an aluminum body with an aluminum-colored keyboard, in 12-inch, 15-inch, and 17-inch sizes. When Apple switched to Intel x86 processors in 2006 the PowerBook G4's form and aluminium chassis were ported to the new Intel-based MacBook Pro, albeit with several minor alterations (such as a different port layout, the addition of a built-in iSight camera, and the elimination of the 12" model). Between 2001 and 2003, Apple produced the titanium PowerBook G4; between 2003 and 2006, the aluminum models were produced. Both models were hailed for their modern design, long battery life, and processing power. When the aluminum PowerBook G4s were first released in January 2003, however, only 12-inch and 17-inch models were available. The 15-inch retained the titanium body until September 2003, when a new aluminum 15-inch PowerBook was released. In addition to the change from titanium to aluminum, the new 15-inch model featured a FireWire 800 port, which had been included with the 17-inch model since its debut nine months earlier. The PowerBook G4 line was the last generation of the PowerBook series, and was succeeded by the Intel-powered MacBook Pro line in the first half of 2006. The latest version of OS X any PowerBook G4 can run is Mac OS X Leopard, released in 2007. (en)-->
<!--          </p>-->
        </div>
      </li>
    </ul>
    <div :class="$style.abstractInfo">
      <h3 :class="['heading-03', $style.abstractTitle]">
        Laptop
      </h3>
      <p :class="['copy-01']">
        A laptop, often called a notebook or "notebook computer", is a small, portable personal computer with a "clamshell" form factor, an alphanumeric keyboard on the lower part of the "clamshell" and a thin LCD or LED computer screen on the upper portion, which is opened up to use the computer. Laptops are folded shut for transportation, and thus are suitable for mobile use. Although originally there was a distinction between laptops and notebooks, the former being bigger and heavier than the latter, as of 2014, there is often no longer any difference. Laptops are commonly used in a variety of settings, such as at work, in education, and for personal multimedia and home computer use.
      </p>
    </div>
  </div>
</template>
