<style src="./HomePage.scss" module lang="scss"></style>
<script src="./HomePage.js"></script>

<template>
  <div :class="[$style.homePage]">
    <div :class="$style.searchWrapper">
      <video autoplay muted loop :class="$style.videoBackground">
        <source src="static/video/hero.mp4" type="video/mp4">
      </video>

      <div :class="$style.searchContainer">

        <h1 :class="['heading-01', $style.heading]">Your computer search <br> starts here</h1>
        <SearchBar :class="$style.searchBar"></SearchBar>
      </div>
    </div>
    <div :class="['wrapper', $style.infoWrap]">
      <h2 :class="['heading-02', $style.title]">
        This is CO&CO
      </h2>
      <p :class="['copy-01', $style.copy]">
        Co&Co is an search engine powered by a triple storage. Data is processed from multiple data sources to create and unique database with almost all the information about computers and their components (Co&Co).
      </p>
    </div>
  </div>
</template>
