/* stylelint-disable-next-line block-no-empty */
.home-page {
  .search-wrapper {
    height: 75vh;
    position: relative;
    width: 100vw;

    &:before {
      content: '';
      @include size(100vw, 100%);
      background: rgba(0, 0, 0, 0.65);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  .video-background {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .search-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    transform: translate(-50%, -50%);
  }

  .heading {
    margin-bottom: 4.5rem;
    width: 100%;
    white-space: nowrap;
  }

  .search-bar {
    position: absolute;
    left: 50%;
    z-index: 3;
    transform: translateX(-50%);
  }

  .info-wrap {
    display: flex;
    flex-direction: row;
    padding-top: 8rem;
    justify-content: center;
  }

  .title {
    align-self: flex-start;
    margin-right: 12rem;
  }

  .copy {
    width: 25%;
  }
}
