.heading-01 {
  font: 7rem / 6.5rem $fontOpensansBold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.heading-02 {
  font: 4rem / 5.5rem $fontOpensansBold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.heading-03 {
  font: 2rem / 2.5rem $fontOpensansBold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.heading-04 {
  font: 1rem / 1.4rem $fontOpensansBold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}

.heading-05 {
  font: 1.4rem / 1.4rem $fontOpensansBold;
  text-transform: uppercase;
  letter-spacing: 0.02em;
}
