/* stylelint-disable-next-line block-no-empty */
.detail-component {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .main-info {
    width: 65%;
    background: #fff;
    padding: 4rem 2rem;
    align-self: flex-start;

    .title {
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      padding-bottom: 2rem;
      margin-bottom: 4rem;
    }

    .sub-title {
      margin-bottom: 2rem;
    }

    .specs {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin-top: 4rem;
    }

    .spec-item {
      position: relative;
      display: flex;
      flex-direction: column;

      &:after {
        content: '';
        height: calc(100% + 2rem);
        width: 1px;
        background: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: -1rem;
        left: -2rem;
      }

      &:not(:last-child) {
        margin-right: 4rem;
      }

      &:first-child {
        &:after {
          display: none;
        }
      }
    }

    .spec-title {
      margin-bottom: 0.4rem;
    }
  }

  .map {
    width: 30%;
    background: #fff;
    position: relative;
    align-self: flex-start;
  }

  .map-title {
    padding: 4rem 2rem;
  }

  .map-container {
    @include aspect-ratio(100, 100);
    width: 100%;
  }

  .google-map {
    position: absolute;
    @include size(100%);
    top: 0;
    left: 0;
  }
}
