<style src="./DetailComponent.scss" module lang="scss"></style>
<script src="./DetailComponent.js"></script>

<template>
  <div :class="[$style.detailComponent, 'wrapper']">
    <div :class="$style.mainInfo" v-if="viewReady">
      <h3 :class="[$style.title, 'heading-02']">
        {{objectData.name.value}}
      </h3>
      <h4 :class="[$style.subTitle, 'heading-04']">
        About
      </h4>
      <p :class="['copy-01', $style.copy]">
        {{objectData.description.value}}
      </p>
    </div>
    <div :class="$style.map" v-if="mapVisible">
      <h3 :class="[$style.title, $style.mapTitle, 'heading-03']">
        Location(s) of {{objectData.name.value}}
      </h3>

      <div :class="$style.mapContainer">
        <div :class="$style.googleMap" ref="mapWrapper"></div>
      </div>
    </div>
  </div>
</template>
