// Fonts
$fontOpensansRegular: opensans-regular, Arial, sans-serif;
$fontOpensansLight: opensans-light, Arial, sans-serif;
$fontOpensansBold: opensans-bold, Arial, sans-serif;

// Z Index
$zLayout: default;

// Sizes
$gridSize: 4rem;

$smallSpacing: $gridSize * 2; // 8rem
$mediumSpacing: $gridSize * 5; // 20rem
$largeSpacing: $gridSize * 10; // 40rem

$wrapperWidth: $gridSize * 48; // 192rem;

$gutterWidth: 5rem;
$mobileGutterWidth: $gutterWidth * 0.5;

// Colors

// $mediaQueries
@import '../../../data/mediaQueries.json';

// Paths
$pathComponentImage: 'asset/image';
