/* stylelint-disable-next-line block-no-empty */
.search-bar {
  .search-wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .search-input {
    height: 6rem;
    background: #fff;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 1.4rem 2rem 1.4rem 5rem;
    outline: none;
    font: 1.6rem/2rem $fontOpensansRegular;
    width: 80rem;
    margin-right: 2rem;
    box-shadow: 4px 7px 4px 0 rgba(0, 0, 0, 0.4);
  }

  .search-icon {
    @include size(2rem);
    height: 3.4rem;
    border: 0;
    outline: none;
    position: absolute;
    left: 2rem;
    top: 62%;
    transform: translateY(-50%);
    color: #6d6d6d;
  }

  .search-submit {
    border: 2px solid #fff;
    background: #fff;
    color: #000;
    font: 1.4rem/1.3rem $fontOpensansBold;
    padding: 0 2.5rem;
    box-shadow: 4px 7px 4px 0 rgba(0, 0, 0, 0.4);
    white-space: nowrap;
    cursor: pointer;
    outline: none;
  }

  .autofill-wrapper {
    width: 80rem;
    overflow: scroll;
    background: #fff;
    z-index: 5;
    position: relative;
    max-height: 0;

    &.is-open {
      max-height: 19.2rem;
    }
  }

  .search-items {
    list-style: none;
    display: flex;
    flex-direction: column;
  }

  .search-item {
    padding: 0.6rem 2rem 0.6rem 5rem;
    font: 1.6rem/2rem $fontOpensansRegular;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
