<style src="./SearchBar.scss" module lang="scss"></style>
<script src="./SearchBar.js"></script>

<template>
  <div :class="[$style.searchBar]">
    <div :class="$style.searchWrapper">
      <Icon
        name="search"
        :class="[$style.searchIcon]" />
      <input
        type="text"
        :class="$style.searchInput"
        v-model="searchKeyword"
        placeholder="Search for a computer related topic"
        @keydown="removeSearchItems"
        @keyup="startSearch"/>
      <button :class="$style.searchSubmit" @click="handleSearch">
        START EXPLORE
      </button>
    </div>
    <div :class="[$style.autofillWrapper, {[$style.isOpen]: searchOpen}]">
      <ul v-for="(result, index) in searchResults" :key="index" :class="$style.searchItems">
        <li
          :class="$style.searchItem"
          @click="selectResult(result)">
          {{ result.name }}
        </li>
      </ul>
    </div>
  </div>
</template>
